<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Index Page</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.png">
    <!link rel="icon" href="images/favicon.png" sizes="16x16 32x32 48x48" type="image/x-icon">
    <!link rel="icon" href="images/favicon.png" sizes="48x48" type="image/x-icon">
</head>

<body>
    <h1>Welcome to the Simple Index Page!</h1>
    <p>This is a simple FastAPI application serving an HTML template.</p>
</body>

</html>